[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
jsonpath = "*"
pytest = "*"
pytest-html = "*"
pytest-reporter = "*"
pytest-html-reporter = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.9"
